
/* formatting for everything */
*{
    margin: 0; 
    padding: 0; 
    /* using the box-sizing to ensure the masion we need  */
    box-sizing: border-box; 
}

:root{
    --dark-bg: #221f1f; 
    --red: #e50916; 
    --white: #fff; 
    --light-bg: #3c3c3c; 
    --transparent-bg: rgba(20, 20, 20, 0.7); 
    --header-height: 70px; 
}

a { 
    /* all the links shoulden't have underline */
    text-decoration: none; 
}

body {
    background-color: var(--dark-bg); 
}